body{ padding-top: 70px;}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url('/fonts/opensans/opensans.woff');
}

nav.sera-header {
    background-color: #2b2b2b;
    color: #ffffff;
}

.navbar a, .navbar a:visited {
    color: #ffffff;
}

.navbar-nav > li > a {
    border-bottom: 3px solid;
    border-bottom-color: #2b2b2b
}

.navbar-nav > li > a:hover, .navbar-nav > li > a:focus, .navbar-nav > li > a.active, .vera-filter, .nav>li>a:focus {
    background-color: #2b2b2b;
    color: #fff;
    border-bottom-color: #2b2b2b;
}


.navbar-nav > li > a:hover {
    background-color: #2b2b2b;
    border-bottom-color: #df691a;
}

.navbar-nav > li > a.active:hover {
    background-color: #2b2b2b;
}

@media (min-width: 768px) {
    .navbar-nav>li>a {
        padding-top: 25px;
        padding-bottom: 0px;
        line-height: 21px;
        font-size: 15px;
    }
}

.logo {
    color: #95df63;
}

.btn-default {
    color: #ffffff;
    background-color: #4E5D6C;
    border-color: #4E5D6C;
}

.btn-default:hover,
.btn-toggle:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
    color: #dddddd;
}

.btn-default:hover,
.btn-default:active,
.btn-default:focus,
.btn-default.active {
    background-color: #39444e;
}

.btn-toggle {
    color: #fff;
    background-color: #4E5D6C;
    border-bottom: 3px solid;
    border-bottom-color: #4E5D6C;
}

.btn-toggle:hover, .toggle-on:hover, .btn-toogle:hover {
    border-bottom-color: #df691a;
}

.toggle-on, .toggle-on:active, .toggle-on.active {
    color: #dddddd;
    background-color: #39444e;
    border-bottom-color: #39444e;
}

.form-control {
    font-weight: bold;
}

i.fa-asterisk{
    color: #ff8522;
}